body{
    margin    : 0px;
    padding   : 0px;
    font-size : 20px;
    background: #ccccff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
header{
    background: #2f2f5a;
    height    : 50px;
    width     : 100%;
}
.button_box{
    height    : 100px;
    width     : 70%;
    background: #ccc;
    margin    : 40px auto 0px;
    display   : flex;
}
.button{
    background: #2f2f5a;
    color     : #ccccff;
    width     : 50%;
    height    : 100px;
    margin    : 0 auto;
    text-align: center;
    line-height: 100px;
}
#tl{
    border-right:  solid 5px #ccccff;
}
#rt{
    border-left:  solid 5px #ccccff;
}
p{
    background: #2f2f5a;
    margin    : 0px auto;
    width     : 70%;
    height    : 50px;
    color     : #fff;
    line-height: 50px;
    text-align: center;
}
ul{
    list-style: none;
    width     : 70%;
    padding   : 0 ;
    margin    : 0 auto;
}
li{
    padding   : 30px; 
    border    : solid 1px #2f2f5a;
    background: #ffffffb2;
    
    /*GRID*/
    display                : grid;
    grid-template-rows     : 70% 30% ;/*ч╕ж*/
    grid-template-columns  : 33% 33% 1fr;/*цик*/

}
li>div{
    padding         : 10px;
}
li>.tweet_text{
    grid-row        : 1 / 2;
    grid-column     : 1 / 4; 
    border-bottom   : solid 1px #2f2f5a;
}
li>.retweet{
    border-left     : solid 1px #2f2f5a;   
    border-right    : solid 1px #2f2f5a;   
}